<h6>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}, UC Merced
  <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=tGZ_4852x6Mm-PPomoo98e4y_CI8D9TmioGTO03Daik"></script> -->
  
</h6>

<!-- FlagCounter Code -->
<a href="https://info.flagcounter.com/dkRW">
  <img src="https://s11.flagcounter.com/count2/dkRW/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
</a>

<!-- Lastly modified by Hanlin CAI in 2023/03/16 -->
